<form class="form px-5 mt-5">
    <input type="text" class="form-control"  [formControl]="songNameControl" placeholder="Search song">
    <button class="btn btn-dark mx-auto my-2" (click)="searchSong()">Buscar</button>
</form>

<div class="container mt-5">
    <div class="card-group ">
        <app-song-item  *ngFor="let song of songs  | slice: (currentPage * pageSize) - pageSize: currentPage * pageSize " [song]="song"></app-song-item>
    </div>

    <ul class="pagination">
        <li>
            <label>Items per page:</label>
        </li>
        <li>
            <label>
                <select class="form-control col" [(ngModel)]="pageSize" value="pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </label>
        </li>
                   
        <li class="page-item">
            <button class="btn btn-primary" [disabled]="currentPage == 1" (click)="currentPage = currentPage - 1">&laquo;</button>
        </li>
        <span>Page {{currentPage}} of {{ numberOfPages() }}</span>
        <li class="page-item">
            <button class="btn btn-primary" [disabled]="currentPage >= songs.length/pageSize" (click)="currentPage = currentPage + 1">&raquo;</button>  
        </li>
    </ul>  
</div>